header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0%;
    padding:0%;
    
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .logo img{
    width: 15%;
    height: 100%;
}
header nav ul{
    list-style:none;
    display: flex;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
header nav ul li a:hover {
    color:burlywood; 
}
section{
    text-align: center;
}
.home{
    width: 100%;
    height: 100%;
    margin-top: 81px;
}

.home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
}
#coffee{
    width:35%;
    height: 30%;
    padding:3% ;
    border-radius: 100%;
}
.home .container p{
    font-size:70px;
    font-weight: bold;
    font-style:italic;
}
.menu .container{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 50px;
    transition: trasnform 1.5s ease-in-out;
}

.items > div:hover{
    transform: scale(1.1);
}
.items .item-1 , .items .item-2 , .items .item-3 , .items .item-4 , .items .item-5 , .items .item-6 {
    justify-content:center;
    align-items: center;
}
.items .item-1 img , .items .item-2 img , .items .item-3 img , .items .item-4  img , .items .item-5 img , .items .item-6 img {
    width:60%;
    padding: 1%;
    height: auto;
}
.items .item-1 p , .items .item-2 p , .items .item-3 p , .items .item-4  p , .items .item-5 p , .items .item-6 p {
    margin-top: -3%;
    font-size: 40px;
}
.items .item-1 p:hover , .items .item-2 p:hover , .items .item-3 p:hover , .items .item-4  p:hover , .items .item-5 p:hover , .items .item-6 p:hover{
    color: burlywood;
} 
.about {
    background-color:burlywood;
}
.about .container {
    text-align: center;
    padding: 1%;
}
.about h2{
    font-size: 50px;
    font-style: italic;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 60px;
    padding: 2%;
    transition: trasnform 1.5s ease-in-out;
}
.features > div:hover{
    transform : scale(1.1);
}
.features .feature{
    border: solid 2px black;
    padding: 3%;
}
.features .feature i {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
.contact {
    background-color:whitesmoke;
}

.contact .container {
    text-align: center;
    padding:0%;
}
.contact h2{
    padding: 1%;
    font-size: 50px;
    font-style: italic;
}
.contact p{
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact ul {
    list-style: none;
    padding: 3%;
}

.contact ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer .container {
    width: 100%;
    margin: auto;
}
/* for reponsive design */
@media screen and (max-width:600px){
    .home .container{
        display: flex;
        flex-direction:column;
    }
    .home .container p{
        font-size:30%;
    }
    #coffee{
        width:90%;
        height: 80%;
        padding:4% ;
        border-radius: 100%;
    }
    .menu .container{
        font-size: 30px;
    }
    .items{
        display: flex;
        flex-direction: column;
    }
    .items .item-1 p , .items .item-2 p , .items .item-3 p , .items .item-4  p , .items .item-5 p , .items .item-6 p{
        font-size: 30px;
    }
    .features{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:768px) and (max-width:885px){
    .home .container{
        display: flex;
        flex-direction:column;
    }
    .home .container p{
        font-size:40px;
    }
    #coffee{
        width:90%;
        height: 80%;
        padding:3% ;
        border-radius: 100%;
    }
    .menu .container{
        font-size: 40px;
    }
    .items .item-1 p , .items .item-2 p , .items .item-3 p , .items .item-4  p , .items .item-5 p , .items .item-6 p{
        font-size: 30px;
    }
    .items .item-1 img , .items .item-2 img , .items .item-3 img , .items .item-4  img , .items .item-5 img , .items .item-6 img{
        width: 80%;
    }
    .features{
        display: flex;
        flex-direction: column;
    }
}